{% macro additional_files(adds) %}
  {% import 'gui-builder/settings.html.twig' as settings %}
  <div class="container">
    {% for add in adds %}
      <div class="row"><h6>{{ add['title'] }}:</h6></div>
      <div class="row">
        <div class="col-9">

          <div class="form-group custom-file adds {{ add['id'] }}">
            <input id="{{ add['id'] }}" type="file" class="fileupload custom-file-input form-control" aria-required="false" name="files" data-url="upload.php?param={{ add['id'] }}" data-finished="0">
            <label class="custom-file-label" for="{{ add['id'] }}">Choose a {{ add['type'] }} file</label>
          </div>
          <div class="progress" data-target="{{ add['id'] }}" style="width: 100%;visibility: hidden; width: 100%; height: 4px;">
            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" data-target="{{ add['id'] }}" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
          </div>

        </div>
        <div class="col"><span class="gray">{{ add['type'] }}</span></div>
        <div class="col">
          {% if add['desc'] is defined %}
            {{ settings.help_button(add['desc']) }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
