{% macro entry(entry) %}
  {% import 'gui-builder/elements.html.twig' as elements %}
  {% import 'gui-builder/settings.html.twig' as settings %}
  {% import 'gui-builder/additional.html.twig' as adds %}

  {% if entry['radiobutton'] is defined %}
    {{ elements.radiobutton_wrapper(entry['radiobutton']) }}
  {% endif %}

  {% if entry['checkbox'] is defined %}
    {{ elements.checkbox_wrapper(entry['checkbox']) }}
  {% endif %}

  {% for key, mod in entry['modal'] %}
    {% if key == 'settings' %}
      {{ elements.modal(mod['type'],mod['classname'],mod['title'],settings.setting(mod['content']),mod['prefix'],mod['class']) }}
    {% elseif key == 'additional' %}
      {{ elements.modal(mod['type'],mod['classname'],mod['title'],adds.additional_files(mod['content']),mod['prefix'],mod['class']) }}
    {% elseif key == 'info' %}
      {{ elements.modal(mod['type'],mod['classname'],mod['title'],elements.info_box(mod['content']),mod['prefix'],mod['class']) }}
    {% else %}
      {{ elements.modal_wrapper(mod) }}
    {% endif %}

  {% endfor %}

{% endmacro %}

{% macro block_widget(widget) %}
  {% if widget['title']|length > 0 %}
    <h5>{{ widget['title'] }}</h5>
  {% endif %}
  {% if widget['description']|length > 0 %}
    <p class="gray">{{ widget['description']|raw }}</p>
  {% endif %}
  {% for entry in widget['entries'] %}
    {{ _self.entry(entry) }}
  {% endfor %}
{% endmacro %}

{% macro grid_inner(content, title = '', collapse_button = '', collapse_this = false, collapse_name = '', no_prio = false, unit = "") %}
  {% import 'gui-builder/elements.html.twig' as elements %}
  <div class="col-sm">
    {% if title|length > 0 %}
      <h3 class="titletype">{{ title }}</h3>
      {{ _self.unit_type_field(title, no_prio, unit) }}
    {% endif %}
    {% if collapse_this %}<div class="collapse width collapse_{{ collapse_name }}">{% endif %}
      {{ _self.block_widget(content) }}
    {% if collapse_this %}</div>{% endif %}
    {% if collapse_button is not null %}
      {{ elements.button_wrapper(collapse_button) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro grid_outer_single(content) %}
  <div class="row" style="margin-top:15px;">
      {% for widget in content %}
        {{ _self.grid_inner(widget['content'], widget['title'], '', false, '', widget['no_prio'], widget['unit']) }}
      {% endfor %}
  </div>
{% endmacro %}

{% macro grid_outer_multi(content, title, collapse = false, no_prio = false, unit = "") %}
  <div class="row" style="margin-top:15px;">
    <h3 class="titletype">{{ title }}</h3>
    {{ _self.unit_type_field(title, no_prio, unit) }}
    <div class="container boxed">
      <div class="row">
        {% for widget in content %}
          {{ _self.grid_inner(widget['content'], '', widget['button'], loop.index > 1 and collapse, title) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro unit_type_field(title, no_prio, unit) %}
  {% if not no_prio %}
    <div class="unit_type">
      {%- if unit|length > 0 -%}
        {{ unit }}
      {%- else -%}
        {{ title }}
      {%- endif -%}
    </div>
  {% endif %}
{% endmacro %}
