{% if version is defined and version|length > 0 %}
<div id="version_box">
  <span class="{{ version['type'] }}"><a href="{{ version['url'] }}" target="_blank">{{ version['name'] }}</a></span>
</div>
{% endif %}
