div.modal-content.modal-body p {
  padding: 5px;
  margin: 5px;
}

div.custom-control.custom-checkbox {
  margin-top: 1px;
}

p.gray, span.gray {
  color: #666;
}

button.btn-collapse {
  position: absolute;
  right: 5%;
  bottom: 0;
}

div.container.boxed {
  border: 1px #eee solid;
  border-radius: 8px;
}

div.row.row-top-spacer {
  margin-top: 15px;
}

div.container {
   max-width: 1280px;
}

div.container .custom-file.genome .custom-file-label::after {;
  background-color: #218838;
  border-color: #1e7e34;
  color: #FFF;
  content: "Upload";
}

div.custom-file.adds .custom-file-label::after {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.popover-danger {
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
  opacity: 0.8;
}

.popover-danger .popover-body {
  color: #fff;
}

.popover-danger .arrow:after {
	border-right-color: #d9534f;
}

div.container.status {
  max-width: 1248px;
  width: 95%;
}

div.container.status .row {
  background-color: #ebebeb;
  border: 1px solid #777;
  border-radius: calc(.25rem - 1px);
}

div.container.status .row .col-sm.ls,
div.container.status .row .col-md.ls {
  background-color: #ddd;
  border-right: 1px solid #ccc;
}

div.container.status .row .col-sm.rs,
div.container.status .row .col-md.rs {
  border-right: 1px solid #777;
}

div.container.status .row .col-sm {
  padding: 7px;
}

button.btn-collapse-ac {
  font-size: 17pt;
}

a.btn.distance {
  margin: 5px;
}

.jumbotron {
  padding: 2rem 2rem;
}

.jumbotron h1 {
    font-size: 3.5rem;
    letter-spacing: 1.38rem;
    margin-left: 0.7rem;
}

.jumbotron.text-center h1 a {
  font-weight: bold;
  color: #000;
}
.jumbotron.text-center h1 a:hover {
  text-decoration: none;
}

img#full-logo {
  width: 22%;
  min-width: 350px;
  max-width: 800px;
}

*:focus {
    outline: none;
}

.settigsrow {
  margin-top: 25px;
}

div#version_box {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  line-height: 9pt;
  font-size: 9pt;
  color: #555;
}

div#version_box span a {
  color: #222;
}

pre#gene_sequence {
  font-family: monospace;
  font-size: 9pt;
  text-align: left;
}

form#megablast {
  display:inline;
  margin:0px;
  padding:0px;
}

.container.gprofiler {
  width: 99%;
  max-width: 1920px;
}

table#gprofiler {
  width: 100%;
  margin: 0 auto;
}

div.mt5px {
  margin-top:5px;
}

button.mr1rem {
  margin-right: 1rem;
}

div.modal-dialog.modal-dialog-centered.pipegraph {
  max-width: 1600px;
  width: 75%;
}

div.modal-dialog.modal-dialog-centered.pipegraph div.modal-content div.modal-body img {
  filter: grayscale(100%);
}

div.form-check.priorty_form {
  margin-left: 0.75rem;
  border-bottom: 1px solid #555;
}

li.icon.arrow_both {
  background-image: url("../../images/arrow-both.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
}

li.icon span.txt {
  margin-left: 15px;
  padding-left: 8px;
  border-left: 1px solid #aaa;
}

ul li.sortable-dragging {
  background-color: #ccc;
}

ul li.sortable-placeholder {
  list-style-type: none;
}

.mono {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 0.8rem;
}

img.orcid {
  height: 1rem;
}

div#host div.container div.host {
  display: block;
}

.custom-control-input.inline {
  display: inline;
}

input.taxonomy, select.taxonomy {
  font-style: italic;
}

div.unit_type {
  display: none;
}
div#vecscreen p, div#vecscreen dl {
  text-align: justify;
}

span.achi {
  background-color: #e9f4ff;
  color: #000;
  font-weight: bold;
}

div#log-names-list a.list-group-item {
  border-radius: 0.15rem;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

div#sidebar button.btn, div#sidebar a.btn {
  margin-bottom: 0.4em;
}

a.buildlink {
  color: #000;
}

/*.custom-control.custom-radio, .custom-control.custom-checkbox {
  vertical-align: middle;
  line-height: 25pt;
}
*/

#twitter-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
}

#twitter-wrapper .twitter-logo {
  width: 5vw;
  margin-right: 1pt;
  margin-bottom: 1pt;
  max-width: 40px;
}

img.logo.heiderlab {
  width: 190px;
  float: right;
  margin-left:15px;
  margin-bottom: 15px;
}

img.logo.mosga {
  width: 128px;
  float: left;
  margin-right:15px;
  margin-bottom: 15px;
}

/* Mobile phones */
@media only screen and (max-width: 768px) {
  .nav-link {
     padding: 0.3rem 0.4rem;
     font-size: 0.9rem;
  }

  .btn {
    padding: 0.2rem 0.15rem;
    font-size: 0.9rem;
  }

  .table td, .table th {
    padding: 0.1rem;
    font-size: 0.8rem;
    line-height: 1.0;
  }

  .hidemobile {
    display: none;
  }

  img.logo.heiderlab {
    width: 6rem;
    margin-left: 0.3rempx;
    margin-bottom: 0.3rem;
  }

  img.logo.mosga {
    width: 5rem;
    margin-left: 0.3rem;
    margin-bottom: 0.3rem;
  }

}
