<div id="annotation_submission" class="container">

  <div class="row" style="margin-top:20px;">
    <p>Upload your assembled FASTA <strong>eukaryotic</strong> genome file.</p>

    <!-- Genome FASTA file -->
    <div class="form-group custom-file genome">
      <input type="file" class="fileupload custom-file-input form-control" aria-required="true" required id="genome" name="files" data-url="upload.php?param=genome" data-finished="0">
      <label class="custom-file-label" for="genome">Select a FASTA or GBFF file</label>
    </div>
    <div class="progress" data-target="genome" style="width: 100%; height: 5px; visibility: hidden;">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" data-target="genome" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>

    {% if(public) %}
    <div class="alert alert-danger" style="margin-left:auto;margin-bottom:auto;" role="alert">
      Submitted jobs and data are publicly visible on this host!
    </div>
    {% endif %}

  </div>



</div>
