{% import 'gui-builder/grid.html.twig' as blocks %}

<form id="mosga" method="post" action="index.php?mode={{ mode }}" enctype="multipart/form-data" role="form">

{% include 'submission/annotation.html.twig' %}

<hr />
<div class="container">
  <div class="text-center">
    <input id="sub_id" type="hidden" name="sub_id" value="{{ submission_id }}" />
    <button id="submit_job" type="submit" class="btn btn-success btn-submit">Run!</button>
  </div>
</div>

</form>
<script src="includes/js/odna.js"></script>
