<div class="container">
  <p>
  {% if results['id'] != 0 %}
    You request was <strong>successfully</strong> submitted and queued. <br />
    Your request is pending at position <em>{{ results['position'] }}</em>. <br />
    Please check your submission online status. <br />

    <a class="btn btn-primary" href="{{ results['path'] }}" target="_self">Your job</a><br /><br />
    <a class="btn btn-secondary" href="index.php" target="_self">Send a new submission</a>
  {% else %}
    <h5>Your request could not successfully submitted.</h5><br />
    <a href="index.php">Please try again.</a>
  {% endif %}
  </p>
</div>
