<h2>Server usage</h2>
<div class="chart-container" style="position: relative; width:100%">
    <canvas id="myChart"></canvas>
</div>

<script src="includes/js/chart.js"></script>
<script src="includes/js/stats.js"></script>
