<div class="container">
  <div class="row">
    <p>
      <a href="https://mosga.mathematik.uni-marburg.de" target="_blank"><img src="images/mosga-logo.svg" class="logo mosga"/></a>
      <a href="http://heiderlab.de" target="_blank" title="Heiderlab"><img src="images/heiderlab-logo.svg" class="logo heiderlab"></a>
      The <strong>O</strong>rganellar <strong>DNA</strong> Detector (ODNA) can identify mitochondrially or plastid DNA sequences inside genome assembly files. Technically, it annotates multiple genetic features and performs machine learning models to classify whether the sequence originated from organellar DNA. <br />
      <br />
      The assembly genome annotation will be performed internally with a minimalized version of the Modular Open-Source Genome Annotator (MOSGA), which is optimized in terms of execution time and pre-selected options.
    </p>
    <p>
      The source code is freely available on <a href="https://www.gitlab.com/mosga/odna" target="_blank">Gitlab.com</a> and processed data for machine learning and comparison on <a href="https://doi.org/10.5281/zenodo.7506483" target="_blank">Zenodo.com</a> (DOI: 10.5281/zenodo.7506483).
      We recommend building a new docker container from the available Dockerfile in the linked Gitlab repository.

      For any questions or comments, please contact us: roman.martin@uni-marburg.de. We are happy to receive feedback.
    </p>
    <p>
    <em>Whenever you use ODNA please cite us: </em><br />
    <strong>
      Roman Martin <a target="_blank" href="https://orcid.org/0000-0001-7678-7856"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Minh Kien Nguyen <a target="_blank" href="http://orcid.org/0000-0003-2690-2718"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Nick Lowack <a target="_blank" href="http://orcid.org/0000-0003-0113-2542"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Dominik Heider <a target="_blank" href="https://orcid.org/0000-0002-3108-8311"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>
      (2023). ODNA: Identification of Organellar DNA by Machine Learning. BioRxiv 2023.01.10.523051 . doi: <a href="https://doi.org/10.1101/2023.01.10.523051" target="_blank">10.1101/2023.01.10.523051</a>.
    </strong><br /><br />
    <strong>
      Roman Martin <a target="_blank" href="https://orcid.org/0000-0001-7678-7856"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Hagen Dreßler <a target="_blank" href="https://orcid.org/0000-0002-0698-9919"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Georges Hattab <a target="_blank" href="https://orcid.org/0000-0003-4168-8254"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Thomas Hackl <a target="_blank" href="https://orcid.org/0000-0002-0022-320X"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Matthias Fischer <a target="_blank" href="https://orcid.org/0000-0002-4014-3626"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>,
      Dominik Heider <a target="_blank" href="https://orcid.org/0000-0002-3108-8311"><img src="images/orcid.png" alt="orcid" class="orcid"/></a>
      (2021). MOSGA 2: Comparative genomics and validation tools. Computational and Structural Biotechnology Journal. 19. 5504-5509. doi: <a href="https://doi.org/10.1016/j.csbj.2021.09.024" target="_blank">10.1016/j.csbj.2021.09.024</a>.
      </strong>
    </p>
  </div>
</div>
