<form method="post" id="jobs-table" action="index.php?mode=comparative" enctype="multipart/form-data" role="form">
  <div class="container">
    <div class="row">
      <table class="table table-hover record break-word">
        <thead>
          <tr>
            <th scope="col">UID</th>
            <th scope="col">Name</th>
            <th scope="col" class="hidemobile">File</th>
            <th scope="col" class="hidemobile">Submission Date</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for job in job_list %}
            <tr>
              <td>
                <a href="job_{{ job[0] }}_{{ job[1] }}.html" target="_self">{{ job|first }}</a>
              </td>
              {% for item in job[2:] %}
                {% if loop.index == 2 %}
                  <td class="mono hidemobile">{{ item|join(',\n') }}</td>
                {% elseif loop.index == 3 %}
                  <td class="hidemobile">{{ item }}</td>
                {% else %}
                  <td>{{ item }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</form>
