{% extends 'base.html.twig' %}

{% block body %}
  <div class="container" style="max-width:1900px;">

  {% if too_long|length %}
  <div class="alert alert-warning" role="alert">
    Unfortunately, some log files are too large to be displayed here. However, you can still download them: <br />
    {% for i, name in too_long %}
      <a href="uploads/{{ uid }}/logs/{{ name }}" target="_blank" class="btn btn-info btn-sm distance">{{ name }}</a>
    {% endfor %}
  </div>

  {% endif %}

    <div class="card">
      <div class="row">
        <div class="col-md-3">

          <div class="p-3 bg-light" style="height: 100%;">
            <div class="list-group list-group-flush" id="log-names-list" role="tablist">
                {% for i, name in names %}
                    {% if i == 0 %}
                      <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab" href="#log_content_{{ i }}" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ name|e }}</a>
                    {% else %}
                      <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#log_content_{{ i }}" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ name|e }}</a>
                    {% endif %}
                {% endfor %}
            </div>
          </div>

        </div>
        <div class="col-md-9">
          <div class="card-body">

            <div class="tab-content">
              {% for i, content in contents %}
                  {% if i == 0 %}
                    <div class="tab-pane active" id="log_content_{{ i }}" role="tabpanel">
                      <div class="clearfix">
                        <div style="float:left">
                          <h5 class="card-title">{{ names[i] }}</h5>
                        </div>
                        <div style="float:right">
                          <a href="uploads/{{ uid }}/logs/{{ names[i] }}" target="_blank" class="btn btn-info btn-sm distance">Download</a>
                        </div>
                      </div>
                      <hr>
                      <pre class="p-3">{{ content }}</pre>
                    </div>
                  {% else %}
                    <div class="tab-pane" id="log_content_{{ i }}" role="tabpanel">
                      <div class="clearfix">
                        <div style="float:left">
                          <h5 class="card-title">{{ names[i] }}</h5>
                        </div>
                        <div style="float:right">
                          <a href="uploads/{{ uid }}/logs/{{ names[i] }}" target="_blank" class="btn btn-info btn-sm distance">Download</a>
                        </div>
                      </div>
                      <hr>
                      <pre class="p-3">{{ content }}</pre>
                    </div>
                  {% endif %}
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
