<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">Annotation results</h5>
    </div>

    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-12">
            {% if not results['result']['finished'] %}
              <p>Your result will soon be available here.</p>
            {% else %}
              {% if results['result']['canceled'] %}
                <h5>Your job failed.</h5>
                <p>Maybe you can still partially download some results. Please check the log file.</p>
                {% if results['result']['error_analysis']|length %}
                <h6>Error Identification</h6>
                <pre>
                  <code>{{ results['result']['error_analysis'] }}</code>
                </pre>
                {% endif %}
              {% else %}
                <p>Your results are ready
                  {% if results['result']['stored_until'] %}
                     and at least available until <strong>{{ results['result']['stored_date'] }}.</strong>
                  {% else %}.
                  {% endif %}
                </p>
                <br />
                <p>
                Identified organellar sequences:
                {% if results['result']['identified_organelles'] %}
                  <h3>{{ results['result']['identified_organelles'] }}</h3>
                {% endif %}
                </p>

              {% endif %}

            {% endif %}

            <br /><br />

            {% include("results/cite.html.twig") %}
            {% include("results/feedback.html.twig") %}

              <div class="clear:both;"></div>

              {% if results['result']['organelles']|length %}
              <div class="card">
                <h5 class="card-header">
                  <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapseOrganalles" aria-expanded="true" aria-controls="collapseDetails">Scaffold Summary</button>
                </h5>
                <div id="collapseOrganalles" class="collapse hide" aria-labelledby="collapseOrganalles" data-parent="#accordion">
                  <div class="card-body">
                    {{ results['result']['organelles']|raw }}
                  </div>
                </div>
              </div>
              <br />
              {% endif %}

              <div class="card">
                <h5 class="card-header">
                  <button class="btn btn-link" style="font-weight:bold;" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">Details</button>
                </h5>
                <div id="collapseDetails" class="collapse hide" aria-labelledby="collapseDetails" data-parent="#accordion">
                  <div class="card-body">

                    {% if not results['result']['finished'] %}
                      <p><strong>Notice:</strong> Files during a current run can be changed at any time.</p>
                    {% endif %}

                    {% include('results/sidebar.html.twig') %}

                    {% if results['result']['files']|length > 0 %}
                      {% for file in results['result']['files'] %}
                        {{ _self.button(results['result']['path'] ~ file[0], file[1], file[2]) }}
                      {% endfor %}
                    {% endif %}

                    {% if results['result']['predictions']|length > 0 %}
                      <p class="card-text">
                        <h5 class="card-title">Single outputs</h5>
                        {% for pred in results['result']['predictions'] %}
                          {{ _self.button(results['result']['path'] ~ pred[0], pred[1], pred[2]) }}
                        {% endfor %}
                      </p>
                    {% endif %}

                    {% include("results/what-to-cite.html.twig") %}

                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

{% macro button(url, name, class = 'info') %}
  <a href="{{ url }}" target="_blank" class="btn btn-{{ class }} distance" >{{ name }}</a>
{% endmacro %}
