<p>Please cite always: <br />
  <ul>
    <li>
      <strong>Roman Martin, Minh Kien Nguyen, Nick Lowack, Dominik Heider (2023). ODNA: Identification of Organellar DNA by Machine Learning. BioRxiv 2023.01.10.523051. doi: <a href="https://doi.org/10.1101/2023.01.10.523051" target="_blank">10.1101/2023.01.10.523051</a>.</strong>
    </li>
    <li>
      <strong>Roman Martin, Hagen Dreßler, Georges Hattab, Thomas Hackl, Matthias G Fischer, Dominik Heider (2021). MOSGA 2: Comparative genomics and validation tools. Computational and Structural Biotechnology Journal. 19. 5504-5509. doi: <a href="https://doi.org/10.1016/j.csbj.2021.09.024" target="_blank">10.1016/j.csbj.2021.09.024</a>.</strong>
    </li>
  </ul>
</p>
