{% if results['not_found'] %}
  <div class="container results error">
    <h3>Not found</h3>
    <p>Unfortunately, your job id is missing in our database.</p>
  </div>
{% else %}
  <div class="container status">
    {{ results['title']|raw }}
    {% include 'results/status.html.twig' %}
    {% if results['mail'] is defined %}
      {% include('results/mail_notification.html.twig') %}
    {% endif %}
  </div>
  <br />
  <div class="container results">
      {% include('results/annotation.html.twig') %}
  </div>
  <script src="includes/js/mosga-results.js"></script>
{% endif %}
