{% if results['mail']['overview'] or results['mail']['invite'] %}
<div class="row" style="margin-top: 2px;">
  {% if results['mail']['overview'] %}
    <div class="col-sm ls">
      Mail notification:
    </div>
    <div class="col-sm rs">
      <strong>{{ results['mail']['values']['mail'] }}</strong>
    </div>
    <div class="col-sm ls">
    Notification date:
    </div>
    <div class="col-sm rs" style="border-right:0;">
      <strong>{{ results['mail']['values']['status'] }}</strong>
    </div>
  {% elseif results['mail']['invite'] %}
    <div class="col-sm ls">
      Mail notification:
    </div>
    <div class="col-sm ls">
      You can setup a mail notification for finished jobs
    </div>
    <div class="col-sm rs" style="padding-top:0;padding-bottom:0;border-right:0;">
      <form method="post" action="#mail" >
      <input type="text" placeholder="your@email.com" name="mail_notify"
      {% if results['mail']['values']['mail']|length > 0 %} value="{{ results['mail']['values']['mail'] }}" {% endif %} />
      <button type="submit" class="btn btn-sm btn-primary">Submit</button>
      </form>
    </div>
  {% endif %}
</div>
{% endif %}
