{% block sidebar %}
  <div id="sidebar">
  {% for skey, side in results['result']['sidebar'] %}
    {% if side|length > 0 %}
      {% if side[1] == true %}
        {{ _self.modal_btn(side[0]['id'],side[0]['button_title'], side[0]['remote']) }}
        {{ _self.modal(side[0]['id'], side[0]['header'], side[0]['content'], side[0]['style']) }}
      {% else %}
        {{ side[0]|raw }}
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}

{% macro modal_btn(id, title, remote = '', class = '') %}
  <button type="button" class="btn btn-sm btn-primary {{ class }}"
  {% if remote|length > 0 %} data-remote="{{ remote }}" {% endif %}
  data-toggle="modal" data-target="#{{ id }}">{{ title }}</button>
{% endmacro %}

{% macro modal(id, header, content, style = '') %}
  <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Title" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered {{ id }}"
    {% if style|length > 0 %} style="{{ style }}" {% endif %}
    role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ header }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align:center">
          {{ content|raw }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
