{% if results['result']['citations']|length > 0 %}
  <p class="card-text">
    <h5>What to cite</h5>
    <table class="table table-striped table-sm">
        {% for cite in results['result']['citations'] %}
          <tr><td>{{ cite }}</td></tr>
        {% endfor %}
    </table>
  </p>
{% endif %}
